.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
    border: 1px solid grey;
    border-top: 2px solid grey;
    width: 85%;
}